.row
  .columns.large-12
    = title "Upcoming events at #{@lab.name} "
    
    %ul.events
      - @lab.events.upcoming.each do |event|
        %li.event{:style => "margin-top: 1em;"}
          = link_to event, lab_event_path(event.lab, event)
          - if event.starts_at
            \-
            = event.local_starts_at.stamp('Wednesday 3rd October 2020 at 15:00')
          - if event.lab.present?
            %br

      - if @lab.events.upcoming.count == 0
        %p There are no upcoming events yet

    
    = title "Past events at #{@lab.name}"
    %ul.events
      - @lab.events.past.each do |event|
        %li.event{:style => "margin-top: 1em;"}
          = link_to event, lab_event_path(event.lab, event)
          - if event.starts_at
            \-
            = event.local_starts_at.stamp('Wednesday 3rd October 2020 at 15:00')
          - if event.lab.present?
            %br
      
      - if current_user and current_user.employed_by? @lab
        = link_to "Add Event", new_lab_event_path, class: 'button'
