.row
  .columns.large-12
    = render "breadcrumbs"
    - title "Projects"
.row
  .colums.large-12
    %p Projects are creative / practise based research explorations; activities; workshops. Projects can be replicated by other labs and can be developed into services, products and upscaled (research) projects. Projects give an impression of the Lab's research agenda, in house expertise, activities and services. 
.row
  .columns.large-12
    %ul#project-container.large-block-grid-3.medium-block-grid-3.small-block-grid-1= render @projects

    = paginate @projects
    - if current_user
      = link_to new_project_path, class: "button tiny primary" do
        = fa_icon "plus", text: t("views.projects.index.new_project", default: "New project")
    %div
      = link_to map_projects_path, class: "map button small #{'secondary' if action_name != 'map'}" do
        = fa_icon "globe", text: t("views.projects.index.map", default: "Map")
