- title t("views.home.welcome")

.whats-a-fab-lab.splash-image
  .row
    .columns.large-12.info-box
      %h2= t("views.home.whats_a_fab_lab")
      %span.info-box-title
      %p= t("views.home.fab_labs_description", fab_foundation: (link_to "TCBL", "http://www.protect-tcbl.eu") ).html_safe

.whos-it-for.stripe
  .row
    .columns.large-12
      %h2.who-it-for-h2= t("views.home.who_is_it_for")

    .columns.large-12
      .row.collapse.case-studies
        .columns.large-6.case-study
          .media
            .pull-left.tcbl-icon= image_tag "home-icons/enthusiast02.jpg", style: 'width: 150px'
            .media-body
              %p
                I'm an
                %strong ENTHUSIAST
                and I want to participate with the global Textile & Business Lab Network. Find labs near me, see what's happening in the labs around the world and maybe one day open my own!

        .columns.large-6.case-study
          .media
            .pull-left.tcbl-icon= image_tag "home-icons/manager02.jpg", style: 'width: 150px'
            .media-body
              %p
                I'm a
                %strong TEXTILE OR BUSINESS LAB MANAGER
                and I want to add my lab to the network. Then I'll be able to share information and knowledge from my lab and interact with fellow users of the site.

  .row
    .columns.large-12{style: "text-align: center"}
      %h2.who-it-for-h2="Interested in joining us? Sign up below!"
      = link_to signup_path, class: 'button big-signup success signup-button' do 
        Sign up



#main-image
  .row
    .columns.large-12.info-box
      %h2="Re-thinking the Industry"
      %span.info-box-title
      %p="We're taking advantage of new technology to rebuild from the ground up as we bring together traditional craftsmanship with 21st century services. Our new industrial scenarios rely on customer-driven production as we apply innovative methods, materials, and tools. Our business models allow for keeping design and production local. We focus on diversity and excellence in niche markets."

.credit{style: 'background: hsl(8, 75%, 89%);'}
  .row
    .columns.large-12.text-right
      .photo-from
        Concept and photo from
        = link_to "Fab Lab Amsterdam","/Waag Society"\
        ,
        = link_to "Netherlands", "/labs?country=is"


#homepage-map
  .filter
  #homepage-search
    %p= t("views.home.show_me_fab_labs", default: "Show Me Textile Labs")
    = link_to labs_path, class: 'button ' do
      
      = t("views.home.around_the_world")

.whats-a-fab-lab.video-image
  .row
    .columns.large-12.info-box.video
      %h2="Want to learn more?"
      %p="Watch our Introductory Video"
      = link_to 'https://vimeo.com/158630713/37440ce1e0', class: 'button big-signup success signup-button' do 
        Watch Now     

.stripe.what-can-you-do
  .features
    .row
      .columns.large-12
        %h2= t("views.home.what_can_i_do")
    .row

      .columns.large-4
        = link_to labs_path do
          .row
            //.columns.small-3.large-4= image_tag "home-icons/profile.png"
            .columns.small-9.large-8
              %h3= t("views.home.lab_profiles")
              %p Each lab has its own profile page which can be maintained and updated by its staff

      .columns.large-4
        = link_to map_labs_path do
          .row
            //.columns.small-3.large-4=image_tag "home-icons/map.png"
            .columns.small-9.large-8
              %h3= t("views.home.world_map")
              %p An interactive map showing the location of all the Textile & Business Labs around the world

      .columns.large-4
        = link_to machines_path do
          .row
            //.columns.small-3.large-4= image_tag "home-icons/machines.png"
            .columns.small-9.large-8
              %h3= t("views.home.machines")
              %p A growing directory/wiki of all of the tools used and recommended by Textile & Business Labs


    