%ul.form-breadcrumbs
  %li.crumb.crumb-one.crumb-active Step 1
  %li.crumb.crumb-two Step 2
  %li.crumb.crumb-three Step 3
  %li.crumb.crumb-four Step 4
  %li.crumb.crumb-five Step 5
  %li.crumb.crumb-six Step 6

= simple_form_for lab, html: { class: 'form-horizontal' } do |f|
  = render 'form_errors', resource: lab

  -# because Haml®
  - if true

    %fieldset.field-one.field.active-field
      %legend.legend
        / Step 1
      %div.fieldset-wrapper
        = f.input :name, label: 'Lab Name'
        = f.label :name, 'Type of Lab'

        .radio-group
          - Lab::Kinds.each_with_index do |m, index|
            %span
              = f.radio_button :kind, index

              %label.radio{style: "width: 160px;"}
                = m.humanize.titleize
        = f.input :blurb, label: 'Overview',  as: 'text', hint: 'A very brief overview of the lab, maybe include what it specializes in. <span id="description-count"></span> characters available.'.html_safe, input_html: { rows: 3, data: { limit: 200, counter: '#description-count'} }

        = f.input :description, hint: 'An in-depth description of the lab', input_html: { style: 'height: 8em' }
        = f.input :slug, hint: "This is the unique 'username' of the lab, it will be in the URL" do
          .row.collapse
            .columns.large-3
              %span.prefix= "#{Rails.application.config.url}/"
            .columns.large-9= f.input_field :slug, class: 'form-control'

        .row
          .columns.large-3
            %span#file-input-name
            - if @lab.avatar_src.present?
              = image_tag hocho(lab.avatar, "o=t&q=80&d=300x300&"), class: '', itemprop: "logo"

          = f.label 'Lab profile picture'
          %span#file-click.button.button-file
            Pick file
            = f.file_field :avatar_src, class: "document_image"
          = f.hint "This will be a square image next shown next to the lab name throughout the site"

        %hr/
        .row
          .columns.large-3
            %span#file-input-name-header
            - if @lab.header_image_src.present?
              = image_tag @lab.header_image_src, class: 'avatar big'
          
          = f.label 'Lab photo'
            
          %span#file-click.button.button-file
            Pick file
            = f.file_field :header_image_src, class: "header_image"
          = f.hint "A single (large) photo of your lab."

        %hr/
      .row
        .columns.large-3
          %span.button.next-two Go to STEP 2


  %fieldset.field-two.field
    %legend.legend
    / Step 2

    -# = f.association :referee, collection: Lab.approved_referees, hint: "An existing lab MUST be able to verify your application", label: "Reference Lab", input_html: {style: 'width: 80%;'}
    -# %div.fieldset-wrapper
    
    = render 'referees', :f => f

    .radio-group
      = f.radio_button :charter, 1
      %label.radio{style: "width: 80%;"}
        The submitted lab commits to actively comply to the TCBL principles .

    = f.simple_fields_for :criteria do |c|
      = c.input :principle1, label: "Curiosity principle", placeholder: "How do you implement the Curiosity Principle in your lab?", hint: "Explorative, innovative character. Outcomes feed into new, replicable business models. Exploring new business models by reframing."
      = c.input :principle2, label: "Viability principle", placeholder: "How do you implement the Viability Principle in your lab?", hint: "Economic sustainability of lab structure. Value creation to the community: public events, communication and awareness. Including monetary and non-monetary transactions."
      = c.input :principle3, label: "Durability principle", placeholder: "How do you implement the Durability Principle in your lab?", hint: "Explore ways to reduce waste.Work with low-impact materials and processes. Work towards emotionally durable design."
      = c.input :principle4, label: "Multiplicity principle", placeholder: "How do you implement the Multiplicity Principle in your lab?", hint: "Open to both professional and non-professional competences. Gender equivalency and open opportunity structures. Exploration of un-met and un-expressed needs."
      = c.input :principle5, label: "Openness principle", placeholder: "How do you implement the Openness Principle in your lab?", hint: "Open and freely accessible participation. Sharing knowledge, findings and networks. Interoperable and where possible open source technology and software."
      = c.input :principle6, label: "Respect principle", placeholder: "How do you implement the Respect Principle in your lab?", hint: "Tools and processes that empower users. Restore the dignity, value and satisfaction of productive making activities. Fair and ethical operations."
      = c.input :principle7, label: "Responsibility principle", placeholder: "How do you implement the Responsibility principle in your lab?", hint: "Spaces and equipment in a safe and secure environment. Availability of support knowledge for processes, machinery, etc. Consultancy and follow-up to participants interested in business development."
    .row
      .columns.large-3
        %span.button.two-back Go Back
      .columns.large-3
        %span.button.next-three Go to Step 3

  %fieldset.field-three.field
    %legend.legend  Step 3
    %div.fieldset-wrapper

      = f.input :capabilities, as: 'check_boxes', inline_label: true, item_wrapper_class: 'checkbox_container', label: false, collection: Lab::Capabilities.map{|f| [ I18n.t("capabilities.#{f}"), f]}, checked: f.object.capabilities, hint: "Intended members, participants and service users.", label: "Target groups"

      = f.simple_fields_for :criteria do |c|
        = c.input :service1, label: "Service 1", placeholder: "A service you are interested in providing as part of TCBL and to whom."
        = c.input :service2, label: "Service 2", placeholder: "A service you are interested in providing as part of TCBL and to whom."
        = c.input :service3, label: "Service 3", placeholder: "A service you are interested in providing as part of TCBL and to whom."
        = c.input :service4, label: "Service 4", placeholder: "A service you are interested in providing as part of TCBL and to whom."
        = c.input :service5, label: "Service 5", placeholder: "A service you are interested in providing as part of TCBL and to whom."
      .row
        .columns.large-3
          %span.button.three-back Go Back
        .columns.large-3
          %span.button.next-four Go to Step 4

  %fieldset.field-four.field
    %legend.legend
    / Step 4
    %div.fieldset-wrapper

      -# contact

      %p.hint Contact Person
      = f.simple_fields_for :employees do |e|
        = e.input :job_title, label: "Role", placeholder: "Lab Manager"
        = e.input :description, placeholder: "Daily management and overall organisation."

      %p.hint Collaborators, employees, researchers and participants will be able to request to be linked to this lab once the lab is approved.

      = f.simple_fields_for :criteria do |c|
        = c.input :network, label: "Relevant network and collaborating institutes. Please provide descriptions & links.", hint: 'Explain briefly your existing collaborations.'

      .row
        .columns.large-3
          %span.button.four-back Go Back
        .columns.large-3
          %span.button.next-five Go to Step 5

  %fieldset.field-five.field
    %legend.legend
    / Step 5
    %div.fieldset-wrapper

    .address
      %fieldset
        %p.hint Enter the lab's address in the textbox below. Then drag the map marker to pinpoint its exact position.
        = f.input :geocomplete, input_html: { id: 'geocomplete', data: { latlng: "#{@lab.latitude}, #{@lab.longitude}"} }, label: false
      %fieldset.step-2
        .row
          .columns.large-6#map-holder
            #location-picker-map
          .columns.large-6
            %p.hint Edit the details in the address fields below.
            = f.input :address_1, input_html: { data: {geo: "street_address"}}, label: 'Lab Address', placeholder: 'Address Line 1'
            = f.input :address_2, label: false, placeholder: 'Address Line 2 (Optional)'
            = f.input :city, input_html: { data: {geo: "locality"}}
            = f.input :county, label: 'State/Province/County'

            = f.input :postal_code, label:'postcode', input_html: { data: {geo: "postal_code"}}
            = f.input :country_code, as: 'country', label: 'Country', input_html: { data: {geo: "country_short"} }, wrapper_html: { class: 'boo'}, iso_codes: true#, input_html: { class: 'enhanced'}
            = f.input :latitude, as: :hidden, input_html: { data: {geo: "lat"}}
            = f.input :longitude, as: :hidden, input_html: { data: {geo: "lng"}}
            = f.input :zoom, as: :hidden

          %hr/

          = f.input :address_notes, label:'Hosted by', hint: 'Please fill in if you are hosted by  an organization or company. Or any details that might be useful for someone trying to find the lab. For example, "Go up the stairs and through the red door".'

          %hr/

          %p.hint Lab Contact Details
          = f.input :phone, hint: "A general enquiries phone number for the lab", label: "Lab Phone Number"
          = f.input :email, hint: "A general enquiries email address for the lab", label: "Lab Email Address"

          -# %fieldset.opening-hours
          -#   %legend Opening Hours
          -#   %table{cellspacing: 0}
          -#     %tr
          -#       %td
          -#       - (0..24).each do |hour|
          -#         %td
          -#           .rotate= Time.at(hour * 60 * 60).utc.strftime("%H:%M")
          -#     - [1,2,3,4,5,6,0].each do |day|
          -#       %tr
          -#         %th= Date::DAYNAMES[day][0..1]
          -#         - (0..48).each do |hour|
          -#           %td

      %p.hint Links
      %p.hint Any websites for this Textiles Lab. It can include blogs, social networks, video/photo sites etc.
      = f.simple_fields_for :links do |link|
        = render 'link_fields', f: link
      .links
        = link_to_add_association f, :links, class: 'button tiny' do
          = fa_icon "plus"
          Add another link
      .row
        .columns.large-3
          %span.button.five-back Go Back
        .columns.large-3
          %span.button.next-six Go to Step 6

    - @collection = Machine.includes(:brand)
    - @selected = @lab.machines.map{|u| u}.collect

    - if lab.new_record?
      %p You will be able to add individual machines once your lab is approved.
    - else
      %label{for: "facilities_attributes"}
        Machine
        = select_tag :facilities_attributes, options_from_collection_for_select(@selected, :id, :lab_id), { multiple: true, size: 10, name: 'machine[facilities_attributes][][lab_id]', class: 'lab_selection_attributes'}

    //= f.input :tools_list, hint: "Please list any machines that you have so that we can add them to the directory.", input_html: { style: "height: 8em" }, placeholder: "e.g. Makerbot Industries - Makerbot 2"
  %fieldset.field-six.field
    %legend.legend
    / Step 6
    %div.fieldset-wrapper

      %p.hint Please review your information and click "submit". The partner labs will review your submition as soon as possible.
      = f.submit (lab.new_record? ? 'Submit' : 'Update Lab'), class: 'button'

      .row
        .columns.large-3
          %span.button.six-back Go Back
