- content_for(:meta) do
  %meta{content: hocho(@lab.avatar, "o=t&q=80&d=300x300&"), property: "og:image"}/
  %meta{content: @lab.description, property: "og:description"}/

%div{itemscope: true, itemtype: "http://data-vocabulary.org/Organization"}
  .stripe
    .row
      .columns.large-12
        = render "breadcrumbs", lab: @lab

    .row.header
      .columns.large-3.bio
        = render "bio", lab: @lab
        = render "links", links: @lab.links
        - if @machines.length > 0
          = render("machines", lab: @lab, machines: @machines)
        - if @lab.capabilities.length > 0
          = render "capabilities", capabilities: @lab.capabilities
      .columns.large-6
        = render "minimap", lab: @lab if @lab.longitude
        .lab-description{itemprop: "description"}= simple_format @lab.description
        - if @lab.header_image_src.present?
          = image_tag hocho(@lab.header_image_src, "o=r&d=800"), class: 'big-picture', itemprop: "image"
        = render("employees", lab: @lab, employees: @employees)
        #disqus_thread
        :javascript
          /* * * CONFIGURATION VARIABLES * * */
          //TODO: create on disqus
          var disqus_shortname = 'tcblio';

          /* * * DON'T EDIT BELOW THIS LINE * * */
          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
        %noscript
          Please enable JavaScript to view the
          %a{:href => "https://disqus.com/?ref_noscript", :rel => "nofollow"} comments powered by Disqus.
      .columns.large-3.bio
        - if current_or_null_user.can_read?(Event) and @events.length > 0
          = render("events", lab: @lab, events: @events)
        - if current_or_null_user.can_read?(Academic)
          = render("academics", lab: @lab, academics: @academics)
        = render "nearby", lab: @lab, nearby_labs: @nearby_labs
