!!!
%html
  %head
    %title= content_for?(:title) ? "#{yield(:title)} | TCBL" : "labs.tcbl.eu"
    %meta{ name: "viewport", content: "width=device-width" }
    %link{rel: "canonical", href: "#{request.url.split('?').first}"}
    = stylesheet_link_tag "//fonts.googleapis.com/css?family=Open+Sans:400|Montserrat"
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "sessions", "data-turbolinks-track" => true
    %link{type: "text/plain", rel: "author", href: "/humans.txt"}
    = csrf_meta_tags
    :css
      body {
        background-image: url('#{image_path("bg03.jpg")}');
      }
  %body.sessions{ class: body_classes }
    .fade-bg
    #main
      - if flash.any?
        .row
          .columns.large-12
          - flash.each do |name, msg|
            = content_tag :div, msg, class: flash_class(name)
      = yield

      .bg-info
        #{link_to "Fablab Amsterdam", "http://www.waag.org"}, by #{link_to "Fab Lab Amsterdam", "/#"}
